body {
    font-family: "Roboto", sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}
.pagina {
    display: flex;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Ajuste para que el main no se superponga al sidebar */
    margin-top: 50px;
}

aside {
    width: 250px;
    background-color: #333;
    padding-top: 20px;
    position: fixed;
    height: 100%;
}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.search-form button:hover {
    background-color: #ffbb00;
}
.cards {
    display: flex;
    flex-direction: column; /* Cambiar a columna para tarjetas apiladas */
    gap: 20px; /* Espacio entre las cards */
    width: 100%; /* Ancho completo del contenedor */
    align-items: center; /* Centrar las tarjetas horizontalmente */
}

.card {
    display: flex;
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: space-between; /* Espacio entre imagen y descripción */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    width: 70%; /* Establecer el ancho de la tarjeta al 70% */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 150px; /* Ancho fijo para la imagen */
    height: auto; /* Altura automática */
    border-radius: 5px;
}

.descripcion {
    display: flex;
    flex-direction: column; /* Alinear el texto verticalmente */
    justify-content: center; /* Centrar el contenido */
    margin-left: 10px; /* Espacio entre la imagen y el texto */
    flex-grow: 1; /* Para que ocupe todo el espacio disponible */
    position: relative; /* Para posicionar el botón */
}

.btn-eliminar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute; /* Posicionar absolutamente */
    bottom: 10px; /* Ajustar la distancia desde la parte inferior */
    right: 10px; /* Ajustar la distancia desde la derecha */
}

.btn-eliminar:hover {
    background-color: #e60000;
}

.boton-comprar{
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
    font-size: 20px;
}

/* Estilos para la Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/* Estilos para la Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo */
    z-index: 1; /* Encima de todo */
    padding-top: 100px; /* Espacio superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Scroll si es necesario */
    background-color: rgba(0,0,0,0.4); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para los Productos en la Modal */
.producto {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.producto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.producto-info {
    display: flex;
    flex-direction: column;
}

.producto-info span {
    margin-bottom: 5px;
}

/* Estilos para Mensajes de Éxito y Error */
.mensaje-exito {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.mensaje-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
