.linea-en-blanco {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #FFA500;
}


.container input[type="submit"] {
    background-color: #FD7E1D;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #FFA500;
    transition: 0.3s;
}